html {
    scroll-behavior: smooth;
  }
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .markbox {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 10px;
  }
  .markbox label {

    margin-right: 10px;
    min-width: 100px;
    width: 150px;
    align-self: center;
  }
  .markbox input {
    min-width: 0;
    justify-content: flex-end;
  }

  .marks {
    
    height: max(100%,500pt);
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #444444;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fefefe;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-self: center;
  }
  button {
    align-self: center;
  }
  .wrapper h1 {
    text-align: center;
    width: 100%;
  }
  .markbox-wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 400px) {
    .marks {
      padding: 10px;
    }
  }
  @media only screen and (min-width: 400px) {
    .marks {
      padding: 40px;
    }
  }